<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/extend.css">
</head>
<body>
	<div class="head">
		<div class="img">
			<img src="../img/seven.png" alt="..">
		</div>
		<div class="text">
			折扣自领取之日起，有效期为七天
		</div>
	</div>
	<div class="content">
		<div class="section"><div class = "i"></div>
		同时持有5个未使用的折扣时，不能继续领取其他折扣
		</div>
		<div class="section"><div class = "i"></div></div>
		<div class="section"><div class = "i"></div></div>
		<div class="section"><div class = "i"></div></div>
		<div class="section"><div class = "i"></div></div>
		<div class="section"><div class = "i"></div></div>
		<div class="section"><div class = "i"></div></div>
	</div>
</body>
</html>