<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Index</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/index.css">
	<script src="http://g.alicdn.com/kissy/k/1.4.7/seed.js" data-config="{combine:true}"></script>
</head>
<body>
	<div class="btn show">
		点我进入
	</div>
	<div class="page1">
		<div class="section" style = "width: 0;float: left;height: 4.275rem;"></div>
	</div>
	<div class="page2">
		<div class="head">
			<div class="logo">
				<img src="../img/logo_small.png" alt="..">
			</div>
			<p>当前城市服务还未开通</p>
		</div>
		<div class="br">
			推荐附近城市的热门商家
		</div>
	</div>
	<div class="page3">
		<div class="logo">
			<img src="../img/logo_big.png" alt="..">
		</div>
		<div class="text">
			当前城市还未开通服务
		</div>
	</div>
	<div class="page4">
		<div class="logo">
			<img src="../img/logo_big.png" alt="..">
		</div>
		<div class="text">
			没有你找的商家哦
		</div>
	</div>
	<div class="page5">
		<div class="logo">
			<img src="../img/logo_big.png" alt="..">
		</div>
		<div class="text">
			抱歉当前折扣周六、周日不可用
		</div>
		<div class="btn">
			继续买单
		</div>
	</div>
	<script src = "../js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src = "../js/enter.js"></script>
	<script type="text/javascript" src = "../js/page.js"></script>
</body>
</html>